# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
*flattened-pom.xml
/bin/
dependency-reduced-pom.xml
logPseudoLocalizer.txt
*classes
/*/.gitignore
/*/*/.gitignore
/*/*/*/.gitignore
*/target/*
*.classes